---
import { getMembers } from '../../lib/WP';
import Member from './Member.astro';

const members = await getMembers();
---

<section class="members">
    {members.map(member =>
        <Member
            bio={member.acf.bio}
            position={member.acf.position}
            name={member.acf.name}
            englishName={member.acf.english_name}
            image={member.acf.pic} />
    )}
</section>

<style>
    .works {
    }
</style>

<script>
</script>