---
import Layout from '../../../layouts/Layout.astro';
import { getWorks, getWork, getCatsFromWork, getRawCats } from '../../../lib/WP';
import { decodeHtmlEscape } from '../../../lib/Util';

export async function getStaticPaths() {
    const works = await getWorks({'per_page': "100"});
    const ids = works.map((work) => {return{params: {id: work.id}}});
    return ids;
}
const { id } = Astro.params;
const work = await getWork(id);
const cats = await getRawCats();
const workCats = getCatsFromWork(work, cats);
---

<Layout limited={true} title={work.title.rendered} pagename="works">
    <div class="w-full text-white">
        <img class="w-full h-auto" src={work.acf.thumbnail.url} alt={work.acf.thumbnail.alt==""?work.title.rendered:work.acf.thumbnail.alt}>
        <div class="mt-6 lg:-mt-6 ml-6 lg:ml-16">
            <h1 class="text-xl mb-5 lg:mb-0 lg:text-5xl font-black" 
            style="text-shadow: #00000050 0 0 20px;">{decodeHtmlEscape(work.title.rendered)}</h1>
            <div class="flex flex-wrap">
                {workCats.map((cat) => (
                    <div class="text-[11px] font-bold">{cat.name}<span class="mx-[1px]">/</span></div>
                ))}
            </div>
        </div>
        <div class="info font-sans font-normal lg:font-bold lg:flex gap-10 mx-6 lg:mx-0 mt-10 mb-20 lg:my-28 tracking-0 text-xs">
            <div class="credit whitespace-pre w-fit break-all tracking-tight">{work.acf.credit}</div>
            <div class="mt-52 lg:mt-10">
                <div set:html={work.acf.description}/>
            </div>
        </div>
        <section class="content">
            <div set:html={work.content.rendered}/>
        </section>
    </div>
</Layout>

<style is:global>
    figure{
        margin-bottom: 5rem;
    }
    .wp-block-embed__wrapper{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .wp-block-embed__wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content a, .description a{
        text-decoration: underline;
        color: #36E83C;
        font-weight: bold;
    }
</style>

<script>
</script>

