---
import { Image } from 'astro:assets';
import logoImage from '../../../assets/images/smitharia_logo.svg';
import noiseImage from '../../../assets/images/noise.jpg';
import { getCats } from '../../../lib/WP.ts';
import Category from './Category.astro';
interface Props {
    limited?: boolean;
}
const { limited } = Astro.props;

console.log(`/${limited?"limited/":""}`);

const cats = await getCats();
---

<div class="w-full fixed top-0 md:static z-30">
    <div id="nav_bg" class="hidden">
        <Image class="md:hidden h-full w-full top-0 left-0 fixed object-cover z-1" src={noiseImage} alt="noise"/>
    </div>
    <div class="md:hidden mt-16 mb-14 flex justify-between items-center z-10 relative">
        <a href=`/${limited?"limited/":""}`>
            <Image class="ml-10 w-1/3" src={logoImage} alt="Logo"/>
        </a>
        <div class="hamburger">
            <button id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
    <nav class="sticky top-16 -mt-2 hidden md:block">
        <a href=`/${limited?"limited/":""}`>
            <Image class="mb-14 hidden md:block" src={logoImage} alt="Logo"/>
        </a>
        <div class="ml-10 md:ml-6 text-xl md:text-sm">
            {cats?.works?.length > 0 && <Category urlPrefix={limited?"limited/":""} title="works" subcats={cats.works}/>}
            {cats?.studies?.length > 0 && <Category urlPrefix={limited?"limited/":""} title='studies' subcats={cats.studies}/>}
            {cats?.artists?.length > 0 && <Category urlPrefix={limited?"limited/":""} title='member tags' subcats={cats.artists}/>}
            <a class="text-white" href=`/${limited?"limited/":""}aboutus`>
                about us
            </a>
        </div>
    </nav>
</div>

<style>
    button{
        height: 25px;
        width: 25px;
        position: relative;
        margin-right: 20px;
    }
    button span{
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        background: #fff;
        transition: 4s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);
    }
    button span:nth-child(1){
        top: 0;
    }
    button span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    button span:nth-child(3){
        bottom: 0;
    }
    button.active span:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
        background: #2F4FFF;
    }
    button.active span:nth-child(2){
        opacity: 0;
    }
    button.active span:nth-child(3){
        top: 50%;
        transform: rotate(-45deg);
        background: #FF2E2E;
    }
</style>

<script>
    const hamburger = document.getElementById('hamburger');
    hamburger?.addEventListener('click', function(){
        document.getElementById('nav_bg')?.classList.toggle('hidden');
        document.querySelector('nav')?.classList.toggle('hidden');
        hamburger.classList.toggle('active');
    });

    const catTitle = document.querySelectorAll('.cat-title');
    catTitle?.forEach((title) => {
        title.addEventListener('click', function(e){
            title.querySelector(".tri")?.classList.toggle('active');
            title.nextElementSibling?.classList.toggle('hidden');
        });
    });
</script>
